.NavigationItems {
    margin-top: 0;
    padding: 0;
    display: column;
    list-style: none;
    align-items: center;
    height: 100%;

}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}